* {
  box-sizing: border-box;
}
.form-group {
  background-color: lightblue;
  width: 300px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.div2 {
  background-color: lightgreen;
  /* width: 450px; */
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  flex-wrap: wrap;
}
.fieldset {
  width: 1000px;
}
.maindiv {
  display: flex;
  text-align: centre;
  justify-content: stretch;
  gap: 10px;
}
.table,
th,
td {
  border: 2px solid lightslategrey;
}
